<div id="nav-aside">
    <!-- nav -->
    <div class="section-row">
        <ul class="nav-aside-menu">
            <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
            <li><a href="{{ site.baseurl }}/about/about.html">About Me</a></li>
            <li><a href="#">Advertisement</a></li>
            <li><a href="{{ site.baseurl }}/contact/contact.html">Contacts</a></li>
        </ul>
    </div>
    <!-- /nav -->

    <!-- widget posts -->
    <div class="section-row">
        <h3>Recent Posts</h3>
        <div class="post post-widget">
            <a class="post-img" href="blog-post.html"><img src="{{ site.baseurl }}/assets/img/widget-2.jpg" alt=""></a>
            <div class="post-body">
                <h3 class="post-title"><a href="{{ site.baseurl }}/post/blog-post.html">Java Web 爬蟲練習#1 Cambridge Dictionary</a></h3>
            </div>
        </div>

        <div class="post post-widget">
            <a class="post-img" href="blog-post.html"><img src="{{ site.baseurl }}/assets/img/widget-3.jpg" alt=""></a>
            <div class="post-body">
                <h3 class="post-title"><a href="{{ site.baseurl }}/post/blog-post.html">Why Node.js Is The Coolest Kid On The Backend Development Block!</a></h3>
            </div>
        </div>

        <div class="post post-widget">
            <a class="post-img" href="blog-post.html"><img src="{{ site.baseurl }}/assets/img/widget-4.jpg" alt=""></a>
            <div class="post-body">
                <h3 class="post-title"><a href="{{ site.baseurl }}/post/blog-post.html">Tell-A-Tool: Guide To Web Design And Development Tools</a></h3>
            </div>
        </div>
    </div>
    <!-- /widget posts -->

    <!-- social links -->
    <div class="section-row">
        <h3>Follow me</h3>
        <ul class="nav-aside-social">
            <li><a href="http://www.facebook.com/benny123tw" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/BennyYen2" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.youtube.com/user/benny123rw/" target="_blank"><i class="fa fa-youtube"></i></a></li>
            <li><a href="https://github.com/benny123tw" target="_blank"><i class="fa fa-github"></i></a></li>
        </ul>
    </div>
    <!-- /social links -->

    <!-- aside nav close -->
    <button class="nav-aside-close"><i class="fa fa-times"></i></button>
    <!-- /aside nav close -->
</div>