{% if post %}
{% assign categories = post.categories %}
{% else %}
{% assign categories = page.categories %}
{% endif %}
{% for category in categories limit:1 offset:1 %}
{% assign item = site.data.category | where: 'name', category | first %}

<a class="post-category {{ item.class }}" href="{{site.baseurl}}/categories/{{category|slugize}}">{{category}}</a>
<span class="post-date">{{ post.date | date: "%B %-d, %Y" }}</span>

{% endfor %}

<!--
<div class="post-meta">
    {% assign item = site.data.category | where: 'name', page.category | first %}
    <a class="post-category {{ item.class }}" href="/{{ page.categories }}">{{ page.categories }}</a>
    <span class="post-date">{{ page.date | date: "%B %-d, %Y" }}</span>
</div>
-->