{% if page.layout == "post" %}
<div id="post-header" class="page-header">
{% else %}
<div class="page-header">
{% endif %}
    {% if page.pageheader != "false" %}
        {% if page.layout == "post" %}
    <div class="background-img" style="background-image: url('{{ site.baseurl }}/assets/img/posts/header/16.jpg');"></div>
        {% endif %}

        {% if page.layout == "post" and page.img != null %}
    <div class="background-img" style="background-image: url('{{ site.baseurl }}/assets/img/posts/header/{{ page.img }}');"></div>
        {% endif %}
    {% endif %}<!--有問題->沒有Title會有圖片 -->
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                {% if page.layout == "post" %}
                <div class="post-meta">
                    {% include header-cat.html %}
                </div>
                <h1>{{ page.title | capitalize}}</h1>
            </div>
                {% else %}
                <ul class="page-header-breadcrumb">
                    <li><a href="{{ site.baseurl }}/index">Home</a></li>
                    <!-- 判斷是否有title 沒有澤輸出日期 -->
                    {% if page.title %}
                    <li>{{ page.title }}</li>
                </ul>
                    <h1>{{ page.title | capitalize}}</h1>
                    {% else %}
                        <li>{{ page.date | date:"%Y" }}</li>
                        <li>{{ page.date | date:"%B" }}</li>
                </ul>
                <h1>{{ page.date | date:"%B %Y" }}</h1>
                    {% endif %}
                    <!-- 判斷結束 -->
            </div>
            {% endif %}
        </div>
    </div>
</div>
