 .nav-menu li.cat-5 a:after {
     background-color: #000000;
}

 .nav-menu li.cat-5 a:hover, .nav-menu li.cat-5 a:focus {
     color: #000000;
}

 .post-meta .post-category.cat-5 {
     background-color: #000000;
}

 .category-widget ul li > a.cat-5 > span {
     background-color: #000000;
}

 .category-widget ul li > a.cat-5:hover, .category-widget ul li > a.cat-5:focus {
     color: #000000;
}

//#dd4b39 #55acee #3b5998 #007bb5 #ff8700 
//#212121 #484848 #000000 #ff1744

 .nav-menu li.cat-6 a:after {
     background-color: #ff1744;
}

 .nav-menu li.cat-6 a:hover, .nav-menu li.cat-6 a:focus {
     color: #ff1744;
}

 .post-meta .post-category.cat-6 {
     background-color: #ff1744;
}

 .category-widget ul li > a.cat-6 > span {
     background-color: #ff1744;
}

 .category-widget ul li > a.cat-6:hover, .category-widget ul li > a.cat-6:focus {
     color: #ff1744;
}