<!-- Post date collection -->
<div class="aside-widget">
    <div class="section-title">
        <h2>Archive</h2>
    </div>
    <div class="archive-widget">
        <ul>
            {% for post in site.posts %}
            {% capture month %}{{ post.date | date: '%m%Y' }}{% endcapture %}
            {% capture nmonth %}{{ post.next.date | date: '%m%Y' }}{% endcapture %}
                {% if month != nmonth %}
                <li><a href="{{ site.baseurl }}/post/{{ post.date | date: '%Y' }}/{{ post.date | date: '%m'}}">{{ post.date | date: '%b %Y' }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>