<div class="row">
    <div class="col-md-8">
        <div class="row">
            {% for post in site.posts %}
            {% if post.position == "header-2"  %}
            <!-- post -->
            {% include index/post3.html %}
            <!-- /post -->
            {% endif %}
            {% endfor %}
            
            {% for post in site.posts limit: 6%}
            <!-- post -->
            {% include index/post4.html %}
            <!-- /post -->
            {% endfor %}
            <!-- post -->
            
            <!-- /post -->

            <div class="clearfix visible-md visible-lg"></div>

            <!-- post -->
            
            <!-- /post -->

            <!-- post -->
            
            <!-- /post -->

            <div class="clearfix visible-md visible-lg"></div>

            <!-- post -->
            
            <!-- /post -->

            <!-- post -->
            
            <!-- /post -->
        </div>
    </div>

    <div class="col-md-4">
        <!-- post widget -->
        {% include aside-widget/most-read.html %}
        <!-- /post widget -->

        <!-- post widget -->
        {% include aside-widget/featured-posts.html %}
        <!-- /post widget -->

        <!-- ad -->
        {% include Ad/ad.html %}
        <!-- /ad -->
    </div>
</div>