<div class="section-row">
    <div class="post-author">
        <div class="media">
            <div class="media-left">
                {% if page.author %}
                    {% assign author = site.authors | where:"name", page.author %}
                    <a href="{{ author.url }}"><img class="media-object" src="{{ site.baseurl }}/assets/img/author.png" alt=""></a>
                </div>
                <div class="media-body">
                    <div class="media-heading">
                        <h3><a href="{{ site.baseurl }}{{ author.url }}">{{ page.author }}</a></h3>
                    </div>   
                    {% if author.description %}
                    <p>{{ author.description }}</p>
                    {% else %}
                    <p>這位作者沒有留下太多的資訊...</p>
                    {% endif %}
                    <ul class="author-social">
                        <li><a href="{{ author.facebook }}"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="{{ author.twitter }}"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="{{ author.youtube }}"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="{{ author.instagram }}"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>