---
layout: default
---

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Post content -->
            <div class="col-md-8">
                <div class="section-row sticky-container">
                    <div class="main-post blog-posts">
                        {{ content }}
                    </div>
                    <div class="post-shares sticky-shares">
                        {% for item in site.data.post-shares %}
                        <a href="{{ item.link }}" class="{{ item.class }}"><i class="fa fa-{{ item.name }}"></i></a>
                        {% endfor %}
                    </div>
                </div>

                <!-- ad -->
                {% include Ad/ad2.html %}
                <!-- ad -->

                <!-- author -->
                {% include post/author.html %}
                <!-- /author -->

                <!-- comments -->
                {% include post/comments.html %}
                <!-- /comments -->

                <!-- reply -->
                
                <!-- /reply -->
            </div>
            <!-- /Post content -->

            <!-- aside -->
            <div class="col-md-4">
                <!-- ad -->
                {% include Ad/ad.html %}
                <!-- /ad -->

                <!-- post widget -->
                {% include aside-widget/most-read.html %}
                <!-- /post widget -->

                <!-- post widget -->
                {% include aside-widget/featured-posts.html %}
                <!-- /post widget -->

                <!-- catagories -->
                {% include aside-widget/category.html %}
                <!-- /catagories -->

                <!-- tags -->
                {% include aside-widget/tags.html %}
                <!-- /tags -->

                <!-- archive -->
                {% include aside-widget/archive.html %}
                <!-- /archive -->
            </div>
            <!-- /aside -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->