---
layout: default
---
<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Post content -->
            <div class="col-md-8">
                <div class="section-row sticky-container">
                    <div class="main-post blog-posts">
                        {{ content }}
                    </div>
                </div>
            </div>
            <!-- /Post content -->

            <!-- aside -->
            <div class="col-md-4">
                <!-- ad -->
                {% include Ad/ad.html %}
                <!-- /ad -->

                <!-- post widget -->
                {% include aside-widget/most-read.html %}
                <!-- /post widget -->

                <!-- post widget -->
                {% include aside-widget/featured-posts.html %}
                <!-- /post widget -->

                <!-- catagories -->
                {% include aside-widget/category.html %}
                <!-- /catagories -->
            </div>
            <!-- /aside -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->